<footer>
	<div class="more-links">
		<div class="custom-container pad-lzero">
		
			<ul class="list-inline secondaryLinks weaker otherTools footerMenus">
				<li><strong>Other tools:</strong></li>
				
				<li>
					<a href="/flights" title="<%= t('footer.flight_desc')%>">
						<%= t('footer.dom_flight')%>
					</a>
				</li>
				<li>
				  <a class="hidden-xs" href="/flights" title="<%= t('footer.flight_desc')%>">
				    <%= t('footer.international_flight')%>
				  </a>
				  <a class="visible-xs" href="/flights" title="<%= t('footer.flight_desc')%>">
				    <%= t('footer.international_flight')%>
				  </a>
				</li>
				<li><a href="/flight-booking/domestic-airlines.html" title="Domestic Airlines">Domestic Airlines</a></li>
				<li><a href="/flight-booking/international-airlines.html" title="International Airlines">International Airlines</a></li>
			<!-- 	<li>
					<a href="/status/" title="<%#= t('footer.status')%>">
						<%#= t('footer.status')%>
					</a>
				</li> -->
				<li>
					<a href="/hotels/saudi-arabia/" title="<%= t('footer.hotels')%>">
						<%= t('footer.hotels')%>
					</a>
				</li>
<!-- 
				<li>
					<a href="/flight-tickets/cheap-flight-air-tickets-domestic.html" title="<%#= t('footer.dom_air_ticket')%>">
						<%#= t('footer.dom_air_ticket')%>
					</a>
				</li>
				<li>
					<a href="/flight-schedule/flight-schedules-domestic.html" title="<%#= t('footer.dom_schedule')%>">
						<%#= t('footer.dom_schedule')%>
					</a>
				</li> -->

			<!-- 	<li>
					<a href="/flight-tickets/cheap-flight-air-tickets-international.html" title="<%#= t('footer.intl_air_tickets')%>">
						<%#= t('footer.intl_air_tickets')%>
					</a>
				</li>
				<li>
					<a href="/flight-schedule/flight-schedules-international.html" title="<%#= t('footer.intl_flight_sched')%>">
						<%#= t('footer.intl_flight_sched')%>
					</a>
				</li>
 -->
			</ul>
			<div class="clear"></div>

			<!-- <ul class="list-inline secondaryLinks weaker footerMenus">
				<li><strong><%#= t('footer.countries')%>:</strong></li>
				<li> <a href="https://www.cleartrip.com" title="<%#= t('footer.in')%>"><%#= t('footer.in')%></a> </li>
				<li> <a href="https://www.cleartrip.ae" title="<%#= t('footer.ae')%>"><%#= t('footer.ae')%></a> </li>
				<li> <a href="https://www.cleartrip.sa" title="<%#= t('footer.sa')%>"><%#= t('footer.sa')%></a> </li>
				<li> <a href="https://bh.cleartrip.com" title="<%#= t('footer.bh')%>"><%#= t('footer.bh')%></a> </li>
				<li> <a href="https://kw.cleartrip.com" title="<%#= t('footer.kw')%>"><%#= t('footer.kw')%></a> </li>
				<li> <a href="https://qa.cleartrip.com" title="<%#= t('footer.qa')%>"><%#= t('footer.qa')%></a> </li>
				<li> <a href="https://om.cleartrip.com" title="<%#= t('footer.om')%>"><%#= t('footer.om')%></a> </li>
			</ul> -->
			<div class="footer-bottom">
				<div class="col-sm-6 pad-lzero">©2006-2019 Cleartrip Pvt. Ltd.</div>
				<div class="col-sm-6 pad-zero">
					<ul class="list-inline pull-right" >
						<li><a rel="nofollow" href="/privacy-policy/">Privacy</a> </li>
						<li> <a rel="nofollow" href="/security">Security</a> </li>
						<li> <a rel="nofollow" href="/terms/">Terms of Use</a> </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
