<% if @meta_page_type == "web_checkin" ||  @meta_page_type == "booking_index"%>
<div class="blocks">
	<h2><%= t("brand.top_#{section}_airlines")%></h2>
	<ul class="list-unstyled top-airlines">
		<% top_airlines.each do |cc| %>
		<li>
			<div class=" col-xs-8 pad-5">
				<% airline_name = link_to( t("airlines.#{cc}"), "/flight-booking/" + format_airline_name(I18n.with_locale(:en) { t("airlines.#{cc}") }).downcase.gsub(" ", "-").gsub("--","-") + ".html") %>
				<%= airline_name %>
			</div>
			<div class="col-xs-4 pad-rzero">

				<%= link_to( "Checkin", "/flight-booking/" + format_airline_name(I18n.with_locale(:en) { t("airlines.#{cc}") }).downcase.gsub(" ", "-").gsub("--","-") + "-web-check-in.html",:class=>"booking") %>
			</div>
			<div class="clearfix"></div>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="blocks">
	<h2><%= t("brand.top_#{section}_airlines")%></h2>
	<ul class="list-unstyled top-airlines">
		<% top_airlines.each do |cc| %>
		<li>
			<div class=" col-xs-8 pad-5">
				<% airline_name = link_to( t("airlines.#{cc}"), "/flight-booking/" + format_airline_name(I18n.with_locale(:en) { t("airlines.#{cc}") }).downcase.gsub(" ", "-").gsub("--","-") + ".html") %>
				<%= airline_name %>
			</div>
			<div class="col-xs-4 pad-rzero">

				<%= link_to( "Book", "/flight-booking/" + format_airline_name(I18n.with_locale(:en) { t("airlines.#{cc}") }).downcase.gsub(" ", "-").gsub("--","-") + ".html",:class=>"booking") %>
			</div>
			<div class="clearfix"></div>
		</li>
		<% end %>
	</ul>
</div>
