
<h2><%= I18n.t("index.popular_#{@section}_flights") %></h2>
<div class="normal-list">
  <div class="sort-bar">
    <div class="items text-center">
      <div class="col-xs-2"><a href="">&nbsp;</a></div>
      <div class="col-xs-2"><a href=""><%= I18n.t('flight_schedule.duration') %></a></div>
      <div class="col-xs-2"><a href=""><%= I18n.t('flight_schedule.arrival') %></a></div>
      <div class="col-xs-2"><a href=""><%= I18n.t('flight_schedule.departure') %></a></div>
      <div class="col-xs-2"><a href=""><%= I18n.t('flight_schedule.route') %></a></div>
      <div class="col-xs-2"><a href=""><%= I18n.t('flight_schedule.airline') %></a></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <ul id="airline-lists" class="list-unstyled">
    <% consolidated_routes.each do |route | %>
    <li>
      <div class="airline">
        <div class="col-xs-2 no-padding">
          <a class="booking flight-schedule-booking" data-section="<%=section[3..5]%>" data-route="<%=route[:dep_city_code]%>-<%= route[:arr_city_code]%>"><%= I18n.t('flight_schedule.book_now_text_btn') %></a>
        </div>
        <div class="col-xs-2 no-padding pad-10">
          <% if route[:duration].include? (":")%>
                <span> <%= route[:duration].to_time.strftime("%Hh %Mm") %></span>
          <% else %>
                <span> <%= Time.at(route[:duration].to_i*60).utc.strftime("%Hh %Mm") %></span>
          <% end %> 
          <span class="type"><%= I18n.t('flight_schedule.non-stop') %></span>
        </div>

        <div class="col-xs-2 no-padding pad-10">
          <span><%= Time.strptime(route[:arr_time],"%H:%M").to_time.strftime("%I:%M %p") %></span>
        </div>

        <div class="col-xs-2 no-padding pad-10">
          <span><%= Time.strptime(route[:dep_time],"%H:%M").to_time.strftime("%I:%M %p") %></span>
        </div>
        <div class="col-xs-2 no-padding pad-10">
          <span><%= route[:dep_city_code]%>  →  <%= route[:arr_city_code]%></span>
          <span class="type"><%= route[:dep_city_name].try(:humanize)%> <%= I18n.t('to') %> <%= route[:arr_city_name].try(:humanize)%></span>
        </div>

        <div class="col-xs-2 no-padding">
          <span class="Domairlogo go">
          </span>
          <span class="name mt-15">
              <%= route[:carrier_code] %><%= route[:flight_no] %>
          </span>
          <% airline_name = link_to( t("airlines.#{route[:carrier_code]}"), "/#{I18n.locale.to_s}/flight-booking/" + format_airline_name(I18n.with_locale(:en) { t("airlines.#{route[:carrier_code]}") }).downcase.gsub(" ", "-").gsub("--","-") + ".html") %>
          <span class="name"><%= airline_name%></span>
        </div>
        <div class="clearfix"></div>
      </div><!--/airline-->
    </li>
    <% end %>
  </ul>
</div><!--mobile-view-->
<div class="mview-list">
  <div class="sort-bar mview-list">
    <div class="items text-center">
     <div class="col-xs-3 text-center no-padding"><a href="">&nbsp;</a></div>
      <div class="col-xs-2 no-padding text-center "><a href=""><%= I18n.t('flight_schedule.duration') %></a></div>
      <div class="col-xs-4 no-padding text-center "><a href=""><%=I18n.t('flight_schedule.route') %></a></div>
      <div class="col-xs-3 no-padding"><a class="sortAsc" href=""><%= I18n.t('flight_schedule.airline') %></a></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <ul id="airline-lists" class="list-unstyled mview-list">
    <% consolidated_routes.each do |route | %>
    <li>
      <div class="airline">
       <div class="col-xs-3 no-padding">
        <a class="booking flight-schedule-booking" data-section="<%=section[3..5]%>" data-route="<%=route[:dep_city_code]%>-<%= route[:arr_city_code]%>"><%= I18n.t('flight_schedule.book_now_text_btn') %></a>
      </div>

      <div class="col-xs-2 no-padding pad-10">
        <span> <%= route[:duration] %></span>
        <span class="type"><%= I18n.t('flight_schedule.non-stop') %></span>
      </div>
      <div class="col-xs-4 no-padding pad-10">
        <span><%= route[:dep_city_code]%>  →  <%= route[:arr_city_code]%></span>
        <span class="type"><%= route[:dep_city_name].try(:humanize)%> <%= I18n.t('to') %> <%= route[:arr_city_name].try(:humanize)%></span>
      </div>

      <div class="col-xs-3 no-padding">
        <span class="Domairlogo go">
        </span>
        <% airline_name = link_to( t("airlines.#{route[:carrier_code]}"), "/#{I18n.locale.to_s}/flight-booking/" + format_airline_name(I18n.with_locale(:en) { t("airlines.#{route[:carrier_code]}") }).downcase.gsub(" ", "-").gsub("--","-") + ".html") %>
        <span class="name"><%= airline_name%></span>
      </div>


      <div class="clearfix"></div>
    </div><!--/airline-->
  </li>
  <% end %>
</ul>
</div><!--mobile-view-->