<div class="blocks">
	<h2><%= t("index.popular_routes")%></h2>
	<ul class="list-unstyled top-airlines">
		<% top_sectors.each do |r| %>
		<% if r.dep_city_name_ar.present? && r.arr_city_name_ar.present? %>
			<li><a href="/flight-schedule/<%=url_escape(r.dep_city_name) %>-<%= url_escape(r.arr_city_name)%>-flights.html" 
				title="<%= r.dep_city_name %> <%= r.arr_city_name %> Flights">
				<%= r.dep_city_name_ar%> <%= t('to') %>  <%=r.arr_city_name_ar %>
			</a>
			</li>
		<% end %>
	<% end %>
</ul>
</div>