<div >
  <div class="container-fluid">
    <div class="sixteen columns alpha">


     <ul class="footerlinkssmall">
      <li><%= t('other')%>:</li>
      <li> <a href="/ar/flights/" title="<%= t('footer.flight_desc')%>"><%= t('footer.dom_flight')%></a> </li>
      <li> <a href="/ar/international-flights" title="<%= t('footer.flight_desc')%>"><%= t('footer.international_flight')%></a> </li>
      <li> <a href="/status/" title="<%= t('footer.status')%>"><%= t('footer.status')%></a> </li>
      <li> <a href="/hotels/united-arab-emirates/" title="<%= t('footer.hotels')%>"><%= t('footer.hotels')%></a> </li>

      <li> <a href="/<%= I18n.locale.to_s %>/flight-schedule/flight-schedules-domestic.html" title="<%= t('footer.dom_schedule')%>"><%= t('footer.dom_schedule')%></a> </li>


      <li> <a href="/<%= I18n.locale.to_s %>/flight-schedule/flight-schedules-international.html" title="<%= t('footer.intl_flight_sched')%>"><%= t('footer.intl_flight_sched')%></a> </li>
      
    </ul>
    <div class="clear"></div>
    <ul class="footerlinkssmall">
     <li><%= t('footer.countries')%>:</li>
     <li> <a href="https://www.cleartrip.com" title="<%= t('footer.in')%>"><%= t('footer.in')%></a> </li>
     <li> <a href="https://www.cleartrip.ae/ar/" title="<%= t('footer.in')%>"><%= t('footer.ae')%></a> </li>
     <li> <a href="https://www.cleartrip.sa/ar/" title="<%= t('footer.sa')%>"><%= t('footer.sa')%></a> </li>
     <li> <a href="https://bh.cleartrip.com" title="<%= t('footer.bh')%>"><%= t('footer.bh')%></a> </li>
     <li> <a href="https://kw.cleartrip.com" title="<%= t('footer.kw')%>"><%= t('footer.kw')%></a> </li>
     <li> <a href="https://qa.cleartrip.com" title="<%= t('footer.qa')%>"><%= t('footer.qa')%></a> </li>
     <li> <a href="https://om.cleartrip.com" title="<%= t('footer.om')%>"><%= t('footer.om')%></a> </li>
   </ul>
   <div class="clear"></div>
   <ul class="footerlinkssmall" style="width:100%;">
    <li style="width:80%">&copy;<%= t('footer.copyright')%></li>
    <li> <a rel="nofollow" href="/privacy-policy/"><%= t('footer.privacy')%></a> </li>
    <li> <a rel="nofollow" href="/security/"><%= t('footer.security')%></a> </li>
    <li> <a rel="nofollow" href="/terms/"><%= t('footer.tou')%></a> </li>
  </ul>
</div>
</div>
</div>
