
<% use_helper = self.extend ApplicationHelper %>

<section id="flights-nav">
  <div class="container-fluid">
		<div class="ctCol ctProducts mview-header">
			<a class="ctBrand" href="/">
				<span class="cleartripLogo" title="Homepage">Home</span>
			</a>
			<ul class="productLinks hasProductIcons">
				<li class="flightApp">
					<a rel="bToolTip" href="/flights">
						<span class="productIcon flights">Flights</span>
					</a>
				</li>
				<li class="hotelApp">
					<a rel="bToolTip" href="/hotels">
						<span class="productIcon hotels"> Hotels</span>
					</a>
				</li>
				<li class="packagesApp">
					<a rel="bToolTip"  href="/packages">
						<span class="productIcon packages">Packages</span>
					</a>
				</li>
				<% if @country_code == "IN" %>
					<li class="trainsApp">
	  				<a rel="bToolTip" title="Trains" href="/trains">
	  					<span class="productIcon trains">Trains</span>
	  				</a>
	  			</li>
  			<% end %>
			</ul>
		</div>
		<div class="ctCol ctCenter mview-center">&nbsp;</div>
		<div class="ctCol">
      <ul class="list-inline language">
        <li class="en first active">
          <a href="/ar/flight-tickets/cheap-flight-air-tickets-domestic.html" lang="ar">عربى</a>
        </li>
        <li>|</li>
        <li>
          <a href="/flight-tickets/cheap-flight-air-tickets-domestic.html" lang="en">English</a>
        </li>
      </ul>
    </div>
  </div>
	<div class="clearfix"></div>
</section>
			<section id="content">
				<div class="container-fluid">
					<ol itemscope itemtype="https://schema.org/BreadcrumbList"  class="list-inline bread-crumb no-padding"  >
						<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="first">
							<a href="/flights" title="<%= t('breadcrumb.cheap_flights')%>" itemprop="item">
								<span itemprop="name"><%= t('breadcrumb.flights') %></span>
							</a>
							<meta itemprop="position" content="1"/>
						</li>
						<li itemscope itemtype="https://schema.org/BreadcrumbList">
							<span itemprop="name" class="first"><%= t('flight_schedule.breadcrumb_second_dom')%></span>
							<meta itemprop="position" content="2" />
						</li>
					</ol>
					<h1><%= t('flight_schedule_index.domestic_flight_schedules')%></h1>
					<%= render :partial=>"common/search_widget" %>

			<div class="col-lg-9 col-md-9 col-sm-12 mobile-view pad-lzero">
				<div class="list-box">
					<% if pagination[:current_page_no] == 0 %>
						<% if popular_routes.present? %>
							<%= render :partial=>"schedules/index/shared/en/en_schedule_index_table",:locals=>{:section=>@section, :consolidated_routes=>popular_routes} %>
						<% end %>
						<div class="content-desc">
							<%= render partial: "schedules/index/en/contents/#{@country_code.downcase}_#{@language.downcase}_#{@section}_index_content" %>
						</div><!--content-desc-->
					<% end %>
					<% if pagination[:routes].present? %>
            <div class="content-desc">
              <h2>Top International Schedules</h2>
              <%= render :partial=>"schedules/index/shared/en/more_top_routes_en", locals: { top_routes: pagination[:routes] } %>
              <% if pagination[:total_pages]  > 1 %>
                <div class="text-center linklist-btn">
                  <% if pagination[:current_page_no] == 0 %>
                    <a class="no-link" ><%= t('prev') %></a> | <a rel="next" href='<%= "/flight-tickets/#{pagination[:next_url]}" %>' ><%= t('next') %></a>
                  <% elsif pagination[:current_page_no] >= pagination[:total_pages] %>
                    <a rel="prev" href='<%= "/flight-tickets/#{pagination[:prev_url]}" %>' ><%= t('prev') %></a> | <a class="no-link" ><%= t('next') %></a>
                  <% else %>
                    <a rel="prev" href='<%= "/flight-tickets/#{pagination[:prev_url]}" %>' ><%= t('prev') %></a> | <a rel="next" href='<%= "/flight-tickets/#{pagination[:next_url]}" %>' ><%= t('next') %></a>
                  <% end%>
                </div>
                <% end %>
              <div class="clearfix"></div>
            </div>
          <% end %>
				</div>
			</div>
						<div id="Rside-bar">

							<div class="col-lg-3 col-md-3 col-sm-12 side-bar pad-rzero">
								<div class="blocks banner-section">
									<div id="banner">
										<a target="_blank"><img></a>
									</div>
								</div>
								<%= render partial: "schedules/index/shared/en/rhs_top_airlines",locals: {top_airlines: rhs_top_airlines[:dom_airlines]} %>
             		<%= render :partial=> "schedules/index/shared/en/rhs_top_routes",locals: {top_sectors: rhs_top_routes} %>
             		<%= render :partial=> "schedules/index/shared/en/rhs_top_airports",locals: {top_airports: rhs_top_airports["dom_airports"]} %>
		            <div class="blocks banner-section">
		              <%= render :partial=>"common/banner",:locals=>{:country_code=>@country_code, use_helper: use_helper} %>
		            </div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div><!--/Rside-bar-->
			</div>
			<div class="clearfix"></div>
		</section><!--/contnet-->
		<div id="footer_container">
			<div id="footer">
				<%= render partial: "footers/#{@country_code.downcase}/schedule/index/#{@country_code.downcase}_#{@language.downcase}_#{@section}_footer"%>
			</div>
		</div>

		