<h2 class="f16">Flight tickets from <%= schedule_layout_values["dep_city_name"] %> to <%= schedule_layout_values["arr_city_name"] %></h2>
<div class="normal-list">
	<div class="sort-bar">
		<div class="items text-center">
			<div class="col-xs-2"><a href="">Airline</a></div>
			<div class="col-xs-3"><a href="">Dept & Arrival</a></div>
			<div class="col-xs-1"><a href="">Duration</a></div>
			<div class="col-xs-2"><a href="">Price</a></div>
			<div class="col-xs-2"><a href="">Days of Operation</a></div>
			<div class="col-xs-2"><a href="">&nbsp;</a></div>
		</div>
		<div class="clearfix"></div>
	</div>
	<ul id="airline-lists" class="list-unstyled">
		<% schedule_layout_values["schedule_routes"].each do |route| %>
			<li>
				<div class="airline">
					<div class="col-xs-2 no-padding">
			      <span class="name mt-15">
			          	<%= route[:carrier_code] %><%= route[:flight_no] %>
			      </span>
		        <span class="name mt-5">
			          	<% airline_name = link_to( I18n.t("airlines.#{route[:carrier_code]}"), "/flight-booking/" + format_airline_name(I18n.with_locale(:en) { t("airlines.#{route[:carrier_code]}") }).downcase.gsub(" ", "-").gsub("--","-") + ".html") %>
			          	<%= airline_name %>
			      </span>
			    </div>
			    <div class="col-xs-3 no-padding pad-10">
				    <div class="dep-time">
		        	<span><%= Time.strptime(route[:dep_time],"%H:%M").to_time.strftime("%I:%M %p") %></span>
		        	<span class="type"><%= dep_city_name %></span>
		        </div>
			      <div class="schedule-divide">→</div>
	          <div class="arr-time">
	        	<span><%= Time.strptime(route[:arr_time],"%H:%M").to_time.strftime("%I:%M %p") %></span>
	        	<span class="type"><%= arr_city_name %></span>
	          </div>
		      </div>
	        <div class="col-xs-1 no-padding pad-10">
	            <!-- <span> <%#= Time.at(route[:duration].to_i*60).utc.strftime("%Hh %Mm") %></span> -->
	            <% if route[:duration].include? (":") %>
	            	<span> <%= route[:duration].to_time.strftime("%Hh %Mm") %></span>
	            	<span class="type">non-stop</span>
	            <% else %>
	            	<span> <%= Time.at(route[:duration].to_i*60).utc.strftime("%Hh %Mm") %></span>
	            	<span class="type">non-stop</span>
	            <% end %>
	  	    </div>
	  	    <div class="col-xs-2 no-padding pad-10">
	        	<span>
	        		<% if route[:cc_min_price].present? && route[:cc_min_price]!=0 && schedule_layout_values["country_code"]=='IN' %>
	        		<i class='fa fa-inr'></i>
	        		<% elsif route[:cc_min_price].present? && route[:cc_min_price]!=0 && schedule_layout_values["country_code"]=='AE' %>
	        		AED
	        		<% elsif route[:cc_min_price].present? && route[:cc_min_price]!=0 && schedule_layout_values["country_code"]=='SA' %>
	        		SAR
	        		<% end %>
	        		<%= route[:cc_min_price].present? ? route[:cc_min_price].to_i : "--NA--"%>
	        	</span>
        	</div>
		    	<div class="col-xs-2 no-padding pad-10">
	        	<span><%= route[:days_of_operation]%></span>
	        </div>
		      <div class="col-xs-2 no-padding">
		        <a data-route="<%=schedule_layout_values["dep_airport_code"]%>-<%= schedule_layout_values["arr_airport_code"]%>-<%= route[:carrier_code] %>" class="booking flight-schedule-booking" >Book Now</a>
		      </div>
			    <div class="clearfix"></div>
				</div>
		  </li>
	  <% end %>
	</ul>
</div>
<div class="mview-list">
	<div class="sort-bar mview-list">
		<div class="items text-center">
			<div class="col-xs-3 no-padding"><a class="sortAsc" href="">Airline</a></div>
			<div class="col-xs-4 no-padding text-center "><a href="">Depart-Arrival</a></div>
			<div class="col-xs-2 text-center no-padding"><a class="sortDes" href="">Rate <span class="f11">(per adult)</span></a></div>
			<div class="col-xs-3"><a href="">&nbsp;</a></div>
		</div>
		<div class="clearfix"></div>
	</div>

	<ul id="airline-lists" class="list-unstyled mview-list">
		<%
		rc = 0
		schedule_layout_values["schedule_routes"].each do |route|
			route_type = route[:dep_country_code] != @country_code || route[:arr_country_code] != @country_code ? "int" : "dom"
			rc+=1 %>
			<li class="<%= rc>10 ? "hide showMore" : "" %>">
				<div class="airline">
					<div class="col-xs-3 no-padding">
						<%# if @country_code=='IN' && @section.include?('dom') %>
						<!-- <span class="Domairlogo go">
							<img src="<%#= assets_path%>/new_images/airlines/<%#= route[:carrier_code]%>.png" alt="">
						</span>
						<span class="name">
							<%#= route[:carrier_code] %><%#= route[:flight_no] %> |
							<%# airline_name = link_to( t("airlines.#{route[:carrier_code]}"), "/flight-booking/" + format_airline_name(I18n.with_locale(:en) { t("airlines.#{route[:carrier_code]}") }).downcase.gsub(" ", "-").gsub("--","-") + ".html") %>
							<%#= airline_name %>
						</span> -->
						<%# else %>
						<span class="name mt-15">
							<%= route[:carrier_code] %><%= route[:flight_no] %>
						</span>
						<span class="name mt-5">
							<% airline_name = link_to( t("airlines.#{route[:carrier_code]}"), "/flight-booking/" + format_airline_name(I18n.with_locale(:en) { t("airlines.#{route[:carrier_code]}") }).downcase.gsub(" ", "-").gsub("--","-") + ".html") %>
							<%= airline_name %>
						</span>
						<%# end %>
					</div>
					<div class="col-xs-4 no-padding pad-10">
						<span><%=  Time.strptime(route[:dep_time],"%H:%M").to_time.strftime("%I:%M %p") %> → <%=  Time.strptime(route[:arr_time],"%H:%M").to_time.strftime("%I:%M %p") %></span>
						<span class="type"><%= dep_city_name %> to <%= arr_city_name %></span>
					</div>
					<div class="col-xs-2 no-padding pad-10">
						<span>
							<% if route[:cc_min_price].present? && route[:cc_min_price]!=0 && @country_code=='IN' %>
							<i class='fa fa-inr'></i>
							<% elsif route[:cc_min_price].present? && route[:cc_min_price]!=0 && @country_code=='AE' %>
							AED
							<% elsif route[:cc_min_price].present? && route[:cc_min_price]!=0 && @country_code=='SA' %>
							SAR
							<% end %>
							<%= route[:cc_min_price].present? ? route[:cc_min_price].to_i : "--NA--"%>
						</span>
					</div>
					<div class="col-xs-3 no-padding ">
						<a data-route="<%=route[:dep_airport_code]%>-<%= route[:arr_airport_code]%>-<%= route[:carrier_code] %>-<%= route_type %>" class="booking flight-schedule-booking">
							<% if route[:cc_min_price].present? && route[:cc_min_price]!=0 %>
							Book Now
							<% else %>
							Check Price
							<% end %>
						</a>
					</div>
					<div class="clearfix"></div>
				</div><!--/airline-->
			</li>
			<% end %>
			<% if schedule_layout_values["schedule_routes"].count>10 %>
			<li class="more-link">
				<a id="show_all_flights_mobile" href="#">View all flights schedules</a>
			</li>
			<% end %>
		</ul>
	</div>
