<% if flights_dep.present? && !flights_dep.nil? %>
	<div class="top-routes">

		<h2>
			<%= t('flights.more_flights_from')%> <%= dep_city_name %>
		</h2>
		<ul class="linklist list-inline">
			<% flights_dep.each do |route|%>

			<li><a href="/flight-schedule/<%= route.url%>" title="<%= route.dep_city_name_en %> <%= route.arr_city_name_en %> Flights"><%= dep_city_name %> <%= route.arr_city_name_en %> <%= t('flights.flights')%></a></li>
			<% end %>
		</ul>
		<p class="more_link">
		 	<a href="/flight-schedule/flights-from-<%=url_escape(dep_city_name)%>.html" title="More Flights From <%= dep_city_name%>"><%= I18n.t('flight_schedule.more_flights_from')%> <%= dep_city_name%></a>
		</p>
	</div>
<% end %>
<p class="bottom-br">&nbsp;</p>
<% if flights_arr.present? && !flights_arr.nil? %>
	<div class="top-routes">
		<h2>
			<%= t('flights.more_flights_to')%> <%= arr_city_name %>
		</h2>
		<ul class="linklist list-inline">
			<% flights_arr.each do |route|%>
			<li><a href="/flight-schedule/<%= route.url %>" title="<%= route.dep_city_name_en %> <%= route.arr_city_name_en %> Flights"><%= route.dep_city_name_en.titleize %> <%= route.arr_city_name_en %> <%= t('flights.flights')%></a></li>
			<% end %>
		</ul>
		<p class="more_link">
			 <a href="/flight-schedule/flights-to-<%=use_helper.url_escape(arr_city_name)%>.html" title="More Flights To <%= arr_city_name%>"><%= I18n.t('flight_schedule.more_flights_to')%> <%= arr_city_name %></a>
		</p>
		<div class="clearfix"></div>
	</div>
<% end %>
