<% I18n.locale = :en %>
<div class="Domestic-airlines">
  <ul class="list-unstyled airline-lists">
    <% airline_codes.each do |ac| %>
      <br>
      <% airline_name = t("airlines.#{ac}") %>
      <li>
        <div class="col-sm-12 col-xs-12">
          <div class="airline-desc">
            <h2><%= airline_name %></h2>
            <p class="truncate">
              <% key = "#{country_code.downcase}_#{ac.upcase}_content"
            if I18n.t("airline_brand_content.#{key}").index("translation missing").nil?
              content = I18n.t("airline_brand_content.#{key}") rescue ""
            else
                content = I18n.t("booking_index.content_en",airline_name: airline_name)
            end %>
              <% if content.index("translation_missing").nil?  %>
                <% str1 = "<h2>#{airline_name} Online Booking</h2>"
                str2 = "<h2>#{airline_name}  Booking</h2>"
                str3 = "<h2>#{airline_name} Airlines Booking</h2>"
                str4 = "<h2>#{airline_name} Airlines Online Booking</h2>"
              if content[0,250].include?(str1)
                content.gsub!(str1,'')
              elsif content[0,250].include?(str2)
                content.gsub!(str2,'')
              elsif content[0,250].include?(str3)
                content.gsub!(str3,'')
              elsif  content[0,250].include?(str4)
                content.gsub!(str4,'')
              end%>
                <%= raw content[0,250] + "..."  %>
              <% end %>
            </p>
            <% airline_name_en = I18n.t("airlines.#{ac}") %>
            <ul class="list-inline airline-status">
              <li>
                <%= link_to format_airline_name(airline_name, "#{I18n.locale}".to_sym) ,"/flight-booking/#{url_escape(format_overview_link(airline_name_en))}.html" %>
                <span> |</span>
              </li>
              <li>
                <%= link_to t('brand.pnr_status',airline_name:  airline_name) ,"/flight-booking/#{url_escape(format_overview_link(airline_name_en))}-flight-pnr-status.html" %>
                <span> |</span>
              </li>
              <li> <%= link_to t('brand.web_check_in',airline_name:  airline_name) , "/flight-booking/#{url_escape(format_overview_link(airline_name_en))}-web-check-in.html" %>
              </li>
            </ul>
          </div>
        </div>
        <div class="clearfix"></div>
      </li>
    <% end %>
  </ul>
</div>
<!--/Domestic-airlines-->
