<% use_helper = self.extend ApplicationHelper %>
    <% render partial: "common/google_tag_manager" %>
    <section id="flights-nav">
      <div class="container-fluid">
        <div class="ctCol ctProducts mview-header">
          <a class="ctBrand" href="/">
            <span class="cleartripLogo" title="Homepage">Home</span>
          </a>
          <ul class="productLinks hasProductIcons">
            <li class="flightApp">
              <a rel="bToolTip" Flights href="/flights">
                <span class="productIcon flights">Flights</span>
              </a>
            </li>
            <li class="hotelApp">
              <a rel="bToolTip" Hotels href="/hotels">
                <span class="productIcon hotels">Hotels</span>
              </a>
            </li>
            <!-- <li class="packagesApp">
              <a rel="bToolTip" Packages href="/packages">
                <span class="productIcon packages">Packages</span>
              </a>
            </li> -->
          </ul>
          <div class="Menuicon visible-xs pull-right"> <span></span> <span></span> <span></span></div>
        </div>
      <!--   <div class="ctCol">
          <ul class="list-inline language">
            <li class="en first active">
              <a href="/ar/flight-tickets/<%#= ticket_layout_values["dep_city_name_formated"]%>-<%#= ticket_layout_values["arr_city_name_formated"] %>-cheap-airtickets.html." lang="ar">عربى</a>
            </li>
            <li>|</li>
            <li>
              <a href="/flight-tickets/<%#= ticket_layout_values["dep_city_name_formated"]%>-<%#= ticket_layout_values["arr_city_name_formated"]%>-cheap-airtickets.html" lang="en">English</a>
            </li>
          </ul>
        </div> -->
      </div>
      <div class="clearfix"></div>
    </section>
    <!--======Second Header Starts Here==========-->
    <%= render :partial => "tickets/routes/en/shared/ticket_header",locals: { dep_city_name: dep_city_name,arr_city_name: arr_city_name,route_dom_airlines: ticket_header["dom_airlines"],route_int_airlines: ticket_header["int_airlines"],near_by_airport_hotels: ticket_header["near_by_airport_hotels"],hotels_list: ticket_header["hotels_list"],hotels_header_list: ticket_header["hotels_header_list"],hotel_types: ticket_header["hotel_types"],train_details: ticket_header["train_details"] ,dep_city_name_formated: ticket_layout_values["dep_city_name_formated"],arr_city_name_formated: ticket_layout_values["arr_city_name_formated"],use_helper: use_helper,arr_city_weekend_getaway: ticket_header["arr_city_weekend_getaway"],arr_featured_city: ticket_header["arr_featured_city"],arr_country_code: ticket_layout_values["arr_country_code"],dep_country_code: ticket_layout_values["dep_country_code"],arr_city_package: ticket_header["arr_city_package"],arr_events_city: ticket_header["arr_events_city"],section: ticket_layout_values["section"],country_code: ticket_layout_values["country_code"]} %> 
     <!--======Second Header Ends Here==========-->
    <section id="content">
      <div class="container-fluid">
        <ol itemscope itemtype="https://schema.org/BreadcrumbList" class="list-inline bread-crumb no-padding">
          <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a  itemprop="item" href="/flights" title="<%= t('flight_schedule.breadcrumb_flight_title') %>"><span  itemprop="name"><%= t('breadcrumb.flights') %></span>
            </a>
            <meta itemprop="position" content="1" />
          </li>

          <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a  itemprop="item"  href="/flight-tickets/cheap-flight-air-tickets-international.html" title="<%= t('flight_schedule.breadcrumb_flight_title') %>" itemprop="url">
              <span itemprop="name">
                <%= t('flight_ticket.intl_air_tickets') %></span>
              </a>
              <meta itemprop="position" content="2" />
          </li>
          <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <span itemprop="name" class="first"><%= t('flight_ticket.breadcrumb_title', dep_city_name: dep_city_name, arr_city_name: arr_city_name,:arr_city_code=>arr_city_code,:dep_city_code=>dep_city_code,:arr_city_code=>arr_city_code) %></span>
            <meta itemprop="position" content="3" />
          </li>
        </ol>

        <h1><%= t('flight_ticket.header_1', dep_city_name: dep_city_name, arr_city_name: arr_city_name,:arr_city_code=>ticket_layout_values["arr_city_code"],:dep_city_code=>ticket_layout_values["dep_city_code"]) %></h1>
        <%= render :partial=>"common/new_search_widget" %>
        <div class="col-lg-9 col-md-9 col-sm-12 mobile-view pad-lzero" id="flight-schedule">
          <div class="list-box">
            <div id="banner" class="lhs-banner"></div></div>
            <div class="calendar-new" >
              <h2 class="pull-left"> <%= t('cheap_air_fare', dep_city_name: dep_city_name, arr_city_name: arr_city_name) %> </h2>
              <div class="text-right pull-right full-calendar">
                <span id="fullCalendarShow"><i class="fa fa-calendar"></i> Full Calendar</span>
              </div>
              <div class="clearfix"></div>
              <div id="calendar">
                <div id="calender_display"></div>
              </div>
              <div id="horCalendar">
                <div class="flexslider" >
                  <ul class="list-inline calendar-v1 slides" id="calendarScroll">
                    <li id="slider">
                    </li>
                  </ul>
                </div>
                <div class="f11">
                  Note: Cleartrip Lowest Air Fares Calendar provides an indication of prices (per person) for a range of dates, so that you can see the cheapest air fares easily. The air fares you see here may not be available at the time you try and book.
                </div>
              </div>
              </div><!--/calendar-new-->
              <%= render :partial=> "tickets/routes/en/shared/direct_ticket_routes_table",locals: {ticket_layout_values: ticket_layout_values,dep_city_name: dep_city_name,arr_city_name: arr_city_name}%>
              <!-- <div class="return_link">
                Get airfare and schedule for return <a href="/flight-tickets/<%#= ticket_layout_values["return_url"].gsub("-flights.html") %>-cheap-airtickets.html"> <%= arr_city_name %> <%= dep_city_name %></a> cheap air tickets.
              </div> -->
          <div class="airline-cnt">
            <div class="content-desc">
              <%= render :partial => "tickets/routes/en/contents/ae_en_templatized_content_direct",locals: {ticket_layout_values: ticket_layout_values,dep_city_name: dep_city_name,arr_city_name: arr_city_name} %>
              <%= render partial: "tickets/routes/en/shared/tickets_faq_en", locals: { arr_city_name: arr_city_name, dep_city_name: dep_city_name, ticket_layout_values: ticket_layout_values, use_helper: use_helper } %>
              <%= render :partial => "tickets/routes/en/shared/airport_details",locals: {airport_details: ticket_layout_values["airport_details"],dep_city_name: dep_city_name,arr_city_name: arr_city_name} %>
              <%= render :partial=>"tickets/routes/en/shared/more_top_routes",locals: {flights_dep: ticket_layout_values['more_flights_from_dep'],flights_arr: ticket_layout_values['more_flights_to_arr'],arr_city_name: arr_city_name,dep_city_name_en:dep_city_name,arr_city_name_en: arr_city_name, dep_city_name: dep_city_name,use_helper: use_helper} %>
            </div>
          </div>
        </div>
        <div id="Rside-bar">
          <div class="col-lg-3 col-md-3 col-sm-12 pad-rzero side-bar">
            <div class="blocks banner-section">
              <div id="banner">
                <a target="_blank"><img></a>
              </div>
            </div>
            <%= render partial: "tickets/routes/en/shared/top_airlines_from",locals: {ticket_layout_values: ticket_layout_values,top_airlines: ticket_layout_values["top_int_airlines"],dep_city_name: dep_city_name,use_helper: use_helper,arr_city_name: arr_city_name} %>
            <div class="blocks banner-section">
              <%= render :partial=>"common/banner",:locals=>{arr_city_name: arr_city_name, dep_city_name: dep_city_name,:country_code=>@country_code, use_helper: use_helper} %>
            </div>
          </div>
        </div>
    </section>
    <div style="display:none">
      <div id="departure_city_code"><%= dep_city_code %></div>
      <div id="arrival_city_code"><%= arr_city_code %></div>
    </div>
    
        <% country_code = ticket_layout_values["country_code"] %>
        <%= render partial: "new_footers/ae/ae_int_ticket_footer_en", locals: {country_code: country_code,dep_city_name: dep_city_name,arr_city_name: arr_city_name,dep_city_name_formated: ticket_layout_values["dep_city_name_formated"],arr_city_name_formated: ticket_layout_values["arr_city_name_formated"],page_type: 'ticket-routes',footer_links_data: ticket_footer[:footer_links_data],footer_airline_data: ticket_footer[:footer_airline_data],flights_header: ticket_header,section: @section}%>

    <%= render :partial=>"shared/#{country_code.downcase}/#{country_code.downcase}_gac"%>
    <%= render "common/comscore" %>
    <% lang = {
      "calender"=>{
        "airfare"=>t('calender.airfare'),
        "today"=>t('calender.today'),
        "cheapest"=>t('calender.cheapest'),
        "calendar_note"=>t('calender.calendar_note')
        },
        "flight_schedule"=>{
          "mo"=>t('flight_schedule.mo'),
          "tu"=>t('flight_schedule.tu'),
          "we"=>t('flight_schedule.we'),
          "th"=>t('flight_schedule.th'),
          "fr"=>t('flight_schedule.fr'),
          "sa"=>t('flight_schedule.sa'),
          "su"=>t('flight_schedule.su')
          },
          "month": ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
          "currency"=>currency_name(@country_code)
        } 
     %>
    <script>
      var lang = <%= lang.to_json.html_safe %>;
      var country_code= "<%= @country_code.downcase %>";
      var section_type= "<%= @section.include?("dom") ? "domestic" : "international" %>";
      var page_type="flight-tickets";
      var language_type = "en";
      var dep_city_code = "<%= ticket_layout_values["dep_city_code"] %>";
      var arr_city_code = "<%= ticket_layout_values["arr_city_code"] %>";
      var dep_city_name = "<%= dep_city_name %>";
      var arr_city_name = "<%= arr_city_name %>";
      var page_sub_type = "routes";
    </script>
