<% if @country_code == "SA" %>
<% top_airlines = ["SV","XY","F3","GF","FZ","G9","9W","WY","EY","MS","AI","TK","EK","UL","KU","NE","LH","RJ","NP","SM","8Q"] %>
<% elsif @country_code == "AE" %>
	<% top_airlines = ["G9","IX","FZ","EK","EY","6E","5J","9W","SG","PA","WY","PR","GF","CX","MS","SQ","UL","TK","AK","BA","NL","ET","RJ","TG","AF","LH"] %>
<% else %>
	<% top_airlines = top_airlines %>
<% end %>


<% if top_airlines.present? && top_airlines.any?  %>
<div class="white-card">
	<h2><%= t("brand.top_#{section}_airlines")%></h2>
	<ul class="list-unstyled top-airlines">
		<% top_airlines.uniq.each do |airline_code| %>
		<% I18n.locale = "en" %>
		<% airline_name_en = t("airlines.#{airline_code}") %>
		<% I18n.locale = "ar" %>
		<% airline_name =  t("airlines.#{airline_code}")  %>
		<% formated_carrier_name =  airline_name_en.downcase.gsub(" ",'-').gsub('--','-') %>
		<li>
			<div class="R-book">
			 <%= link_to( t("brand.check_price"), "#{@host_name}/ar/flight-booking/" + format_airline_name(I18n.with_locale(:en) { t("airlines.#{airline_code}") }).downcase.gsub(" ", "-").gsub("--","-") + ".html",:class=>"booking-btn",:class=>"booking-btn") %>
			 </div>
				<a href="<%= "#{@host_name}/ar/flight-booking/"+format_airline_name(airline_name_en).downcase.gsub(" ", "-").gsub("--","-") + ".html" %>" class="airline-link">
					<div class="R-airline-logo "><span class="carrier-logo <%= formated_carrier_name %>"></span></div>
					<div class="R-airline-name"><span><%= airline_name %></span></div>
				</a>
				<div class="clearfix"></div>
		</li>

		<% end %>
	</ul>
</div><!--/white-card-->
<%end%>
