<% use_helper = self.extend ApplicationHelper
application_processor = ApplicationProcessor.new
currency = application_processor.currency_name(@country_code)
%>
<%= render partial: "version_2_designs/schedules/shared/en/schedule_header_en",locals: { dep_city_name: dep_city_name,arr_city_name: arr_city_name,int_top_airlines: routes_rhs_top_airlines["int_cc"],dom_top_airlines: routes_rhs_top_airlines["dom_cc"],dep_city_name_formated: schedule_layout_values["dep_city_name_formated"],arr_city_name_formated: schedule_layout_values["arr_city_name_formated"],country_code: schedule_layout_values["country_code"], flight_file_name: flight_file_name, page_type: 'flight-schedule', application_processor: application_processor} %>


<%= render partial: "version_2_designs/schedules/shared/en/schedule_routes_search_widget_en",locals: {schedule_layout_values: schedule_layout_values,dep_city_name: dep_city_name,arr_city_name: arr_city_name,search_widget_popular_routes: use_helper.search_widget_popular_routes}%>

<%= render partial: "new_designs/schedules/shared/en/schedule_route_table",locals: { routes:  schedule_layout_values["schedule_routes"],schedule_layout_values: schedule_layout_values,dep_city_name: dep_city_name,arr_city_name: arr_city_name,country_code: @country_code} %>

<%= render partial: "new_designs/schedules/shared/en/cheap_fair_table",locals: {schedule_layout_values: schedule_layout_values,dep_city_name: dep_city_name,arr_city_name: arr_city_name,country_code: @country_code,currency: currency} %>
<%= render partial: "new_designs/schedules/shared/en/cheap_fair_table_mobile",locals: {schedule_layout_values: schedule_layout_values,dep_city_name: dep_city_name,arr_city_name: arr_city_name,country_code: @country_code,currency: currency} %>
<%= render :partial => "new_designs/schedules/in/directs/direct_routes_templatized_content_en_in",locals: {schedule_layout_values: schedule_layout_values,dep_city_name: dep_city_name,arr_city_name: arr_city_name,near_by_airport_hotels: schedule_header["near_by_airport_hotels"].take(2),city_top_hotels: schedule_header["hotels_list"].take(3)} %>
<%= render :partial =>  "version_2_designs/schedules/shared/en/route_information_en",locals: {schedule_layout_values: schedule_layout_values,dep_city_name: dep_city_name,arr_city_name: arr_city_name,currency_code: currency} %>
<%= render partial:"version_2_designs/schedules/shared/en/hotels_and_localities",locals:{arr_city_name: arr_city_name,hotel_api: schedule_layout_values["locality_hotels"],application_processor: application_processor,country_code: @country_code,arr_city_name_formated: schedule_layout_values["arr_city_name_formated"]} %>
<% if @faq.present? %>
  <div class="content-desc cnt-odd faq-cnt">
    <div class="mview-faq-header">
      <h2><%= I18n.t('faq_heading',dep_city_name: @dep_city_name,arr_city_name: @arr_city_name) %></h2>
      <div class="mview-mf-faqtoggle-btn visible-xs">
        <i class="fa fa-caret-down"></i>
      </div>
    </div>
    <div class="mview-mf-faqtoggle">
      <ol>
        <% @faq.each do|faq| %>
        <li itemscope="" itemtype="http://schema.org/Question">
          <div itemprop="name">
            <span><%= faq[:question] %></span>

          </div>
          <div itemscope="" itemtype="http://schema.org/Answer" itemprop="acceptedAnswer">
            <p itemprop="text"><%= faq[:answer]%></p>
          </div>
        </li>
        <% end %> 
      </ol>
    </div>
  </div>
<% else %>
  <%= render partial: "new_designs/schedules/shared/en/schedule_faq_en", locals: { arr_city_name: arr_city_name, dep_city_name: dep_city_name, schedule_layout_values: schedule_layout_values, use_helper: use_helper,currency: currency } %>
<% end %>
<% if @review.present? &&  @review["reviews_list"].present? %>
        <div class="reviews">
          <div>
            <div class="mview-review-header">
              <span class="review-names" >
                <h2><%= dep_city_name %> to <%= arr_city_name %> Flights Reviews</h2>
              </span>
              <div class="mreview-toggle-btn visible-xs">
                <i class="fa fa-caret-down"></i>
              </div>
            </div>
            <div class="mreview-toggle-cnt">
              <div class="review-aggregate">
              Rated  
              <span class="average-rating"><span ><%=  @review["avg_review_rating"] %></span>/5</span>
              based on <span itemprop="reviewCount"><%= @review["total_reviews_count"] %></span> customer reviews
            </div>
            <% @review["reviews_list"].each_with_index do|review,index| %>
            <div class="mreview">
              <div class="review-card">
                <% if index==0 %>Customer reviews:<% end %>
                <div>
                  <div>
                    <span id="review<%= index+1%>" class="user-rating"></span>
                    <span><%= review["rating"] %></span>/
                    <span>5</span>stars
                  </div>
                  <span><%= review["review_text"] %>
                  </span> -
                  by <span>
                    <span>"<%= review["reviewer_name"] %>"</span>
                  </span>
                </div>  
              </div>
            </div>
            <% end %>
          </div><!--/mreview-toggle-cnt-->
        </div>
      </div>
      <!-- -------------------------------------------------------------------------------------------------- -->
      <% else %>
      <%if @review_content.present?%>
        <% review_content = @review_content["route_review_content"].present? ? @review_content["route_review_content"].split("\n") : []
      unless review_content.empty? %>
      <div class="reviews">
        <div>
         <div class="mview-review-header">
          <span class="review-names" ><h2><%= dep_city_name %> to <%= arr_city_name %> Flights Reviews</h2></span>
          <div class="mreview-toggle-btn visible-xs">
            <i class="fa fa-caret-down"></i>
          </div>
        </div>
        <div class="mreview-toggle-cnt">
          <% if review_content[19].present? %>
          <div class="review-aggregate" itemprop="aggregateRating"
          itemscope itemtype="http://schema.org/AggregateRating">
          Rated  <span class="average-rating"><span ><%= review_content[18].split(":")[1].to_f %></span>/5</span>
          based on <span itemprop="reviewCount"><%= review_content[19].to_i %></span> customer reviews
        </div>
        <% else %>
        <div class="review-aggregate" itemprop="aggregateRating"
        itemscope itemtype="http://schema.org/AggregateRating">
        Rated  <span class="average-rating"><span ><%= review_content[15].split(":")[1].to_f %></span>/5</span>
        based on <span itemprop="reviewCount"><%= review_content[16].to_i %></span> customer reviews
      </div>
      <% end %>

      <div class="mreview">
        <div class="review-card">
          Customer reviews:
          <div>
            <div>
              <span id="review1" class="user-rating"></span>
              <span><%= review_content[1].split(":")[1].to_f %></span>/
              <span>5</span>stars
            </div>
            <span><%= review_content[0] %>
            </span> -
            by <span>
              <span><%= review_content[2].split(":")[1].to_s %></span>
            </span>
          </div>
        </div>
      </div>

      <div class="mreview">
        <div class="review-card">
          <div>
            <div>
              <span id="review2" class="user-rating"></span>
              <span><%= review_content[4].split(":")[1].to_f %></span>/
              <span>5</span>stars
            </div>
            <span><%= review_content[3] %>
            </span> -
            by <span>
              <span><%= review_content[5].split(":")[1].to_s %></span>
            </span>
          </div>
        </div>
      </div>

      <div class="mreview">
        <div class="review-card">
          <div>
            <div>
              <span id="review3" class="user-rating"></span>
              <span><%= review_content[7].split(":")[1].to_f %></span>/
              <span>5</span>stars
            </div>
            <span><%= review_content[6] %>
            </span> -
            by <span>
              <span><%= review_content[8].split(":")[1].to_s %></span>
            </span>
          </div>
        </div>
      </div>

      <div class="mreview">
        <div class="review-card">
          <div>
            <div>
              <span id="review4" class="user-rating"></span>
              <span><%= review_content[10].split(":")[1].to_f %></span>/
              <span>5</span>stars
            </div>
            <span><%= review_content[9] %>
            </span> -
            by <span>
              <span><%= review_content[11].split(":")[1].to_s %></span>
            </span>
          </div>
        </div>
      </div>

      <div class="mreview">
        <div class="review-card">
          <div>
            <div>
              <span id="review5" class="user-rating"></span>
              <span><%= review_content[13].split(":")[1].to_f %></span>/
              <span>5</span>stars
            </div>
            <span><%= review_content[12] %>
            </span> -
            by <span>
              <span><%= review_content[14].split(":")[1].to_s %></span>
            </span>
          </div>
        </div>
      </div>

      <% if review_content[19].present? %>
      <div class="mreview">
        <div class="review-card">
          <div>
            <div>
              <span id="review6" class="user-rating"></span>
              <span><%= review_content[16].split(":")[1].to_f %></span>/
              <span>5</span>stars
            </div>
            <span><%= review_content[15] %>
            </span> -
            by <span>
              <span><%= review_content[17].split(":")[1].to_s %></span>
            </span>
          </div>
        </div>
      </div>
      <% end %>
      <div class="clearfix"></div>
    </div>
  </div>
</div><!--/reviews-->

        
<% end %>
<%end%>
      
<% end %>
<%= render :partial=>"version_2_designs/schedules/shared/en/more_top_schedule_routes",locals: {flights_dep: schedule_layout_values['more_flights_from_dep'],flights_arr: schedule_layout_values['more_flights_to_arr'],arr_city_name: arr_city_name,dep_city_name_en:dep_city_name,arr_city_name_en: arr_city_name, dep_city_name: dep_city_name,use_helper: use_helper} %>
  <% top_airlines =  routes_rhs_top_airlines["all_cc"] %>
  <%= render partial: "new_designs/schedules/shared/en/schedule_top_airlines_and_hotels",locals:{schedule_layout_values: schedule_layout_values,top_airlines: top_airlines ,dep_city_name: dep_city_name,use_helper: use_helper,arr_city_name: arr_city_name,:flight_file_name=>flight_file_name,hotels_rhs_list: schedule_header["hotels_rhs_list"],hotels_list: schedule_header["hotels_list"],near_by_airport_hotels: schedule_header[:near_by_airport_hotels]} %>
  <%= render partial: "new_designs/schedules/shared/en/airport_details_new",locals:{dep_city_name: dep_city_name,arr_city_name: arr_city_name,airport_details: schedule_layout_values["airport_details"],schedule_layout_values: schedule_layout_values } %>
  <%=render partial: "version_2_footers/#{@country_code.downcase}/in_int_schedule_footer", locals: {dep_city_name: dep_city_name,arr_city_name: arr_city_name,dep_city_name_formated: schedule_layout_values["dep_city_name_formated"],arr_city_name_formated: schedule_layout_values["arr_city_name_formated"],page_type: 'schedule-routes'} %>
  <%= render partial: "version_2_designs/schedules/shared/en/schedule_faq_schema",locals: {schedule_layout_values: schedule_layout_values,dep_city_name: dep_city_name,arr_city_name: arr_city_name,currency: currency}%>
<script>
var lang = <%= lang.to_json.html_safe %>;
var country_code= "<%= @country_code.downcase %>";
var section = "<%= @country_code %>";
var section_type= "<%= @section.include?("dom") ? "domestic" : "international" %>";
var page_type="flight-schedule";
var language_type = "en";
var dep_city_code = "<%= schedule_layout_values["dep_city_code"] %>";
var arr_city_code = "<%= schedule_layout_values["arr_city_code"] %>";
var dep_city_name = "<%= dep_city_name %>";
var arr_city_name = "<%= arr_city_name %>";
var page_sub_type = "routes";
var new_mob_templ = true;
</script>
