
<section id="Second-menu">
  <div class="container">
    <div class="close visible-xs"><i class="fa fa-close"></i></div>
    <ul class="list-inline" >
      <% if country_code=="IN" && (dep_country_code=="IN" || arr_country_code=="IN") %>
      <li>
        <a class="dropdown-toggle" type="button" data-toggle="dropdown">About<span class="caret"></span></a>
        <ul class="list-unstyled dropdown-menu">
          <% if dep_country_code=="IN" %>
          <li><%= link_to( "About #{dep_city_name.titleize}", "https://www.cleartrip.com/india/#{dep_city_name_formated}",title: "About #{dep_city_name.titleize}", target: "_blank") %></li>
          <% end %>
          <% if arr_country_code=="IN"%>
          <li><%= link_to( "About #{arr_city_name.titleize}", "https://www.cleartrip.com/india/#{arr_city_name_formated}",title: "About #{arr_city_name.titleize}",target: "_blank") %></li>
          <% end %>
            <!-- <li><a href="/" target="_blank">Popular Places in <%= arr_city_name.titleize%></a></li>
            <li><a href="/" target="_blank">Long weekends in <%= arr_city_name.titleize%></a></li>
            <li><a href="/" target="_blank">Best Time To VIsit <%= arr_city_name.titleize %></a></li> -->
            <% if arr_featured_city== true %>
            <li><%= link_to( "Featured Activities in #{arr_city_name.titleize}", "#{@host_name}/local/#{arr_city_name_formated}/featured-activities-in-#{arr_city_name_formated}",title: " #{arr_city_name.titleize} Featured Activities",target: "_blank" ) %></li>
            <li><%= link_to( "Food and Drinks in #{arr_city_name.titleize}", "https://www.cleartrip.com/local/#{arr_city_name_formated}/food-and-drinks-in-#{arr_city_name_formated}",title: "Food and Drinks in #{arr_city_name.titleize}",target: "_blank" ) %></li>
            <% end %>
            <% if arr_events_city == true %>
            <li><%= link_to( "Events in #{arr_city_name.titleize}", "https://www.cleartrip.com/local/#{arr_city_name_formated}/events-in-#{arr_city_name_formated}",title: "Events in #{arr_city_name.titleize}",target: "_blank" ) %></li>
            <% end %>
            <% if arr_city_package == true %>
            <li><%= link_to( "Holiday packages in #{arr_city_name.titleize}", "https://www.cleartrip.com/tourism/packages/#{arr_city_name_formated}-packages.html",title: "Holiday Packages in #{arr_city_name.titleize}",target: "_blank" ) %></li>
            <% end %>
            <% if arr_city_weekend_getaway ==  true %>
            <li><%= link_to( "Weekend getaways in #{arr_city_name.titleize}", "https://www.cleartrip.com/hotels/india/#{arr_city_name_formated}/weekend-getaways/",title: "Weekend getaways in #{arr_city_name.titleize}",target: "_blank" ) %></li>
            <% end %>
          </ul>
        </li>
        <% end %>
        <% if dep_country_code == country_code && arr_country_code == country_code %>

        <li>
          <a class="dropdown-toggle" type="button" data-toggle="dropdown">How To Reach <%= arr_city_name.titleize %> <span class="caret"></span></a>
          <ul class="list-unstyled dropdown-menu">
            <% if dep_country_code=="IN" && arr_country_code=="IN" %>
            <li><a href="/tourism/routes/dd/<%= dep_city_name_formated.downcase %>-to-<%= arr_city_name_formated.downcase %>-route.html" title="<%=dep_city_name.titleize%> To <%=arr_city_name.titleize%> Routes" target="_blank"><%= dep_city_name.titleize %> to <%= arr_city_name.titleize %> routes</a></li>
            <li><a href="/tourism/train/routes/<%= dep_city_name_formated.downcase%>-to-<%=arr_city_name_formated.downcase%>-trains.html" title="<%=dep_city_name.titleize%> To <%= arr_city_name.titleize%> via Tains" target="_blank"><%= dep_city_name.titleize%> to <%= arr_city_name.titleize %> via Trains</a></li>
            <% elsif dep_country_code=="IN" && arr_country_code!="IN"%>
            <li><a href="/tourism/routes/di/<%= dep_city_name_formated.downcase%>-to-<%= arr_city_name_formated.downcase%>-route.html" title="<%=dep_city_name.titleize%> To <%=arr_city_name.titleize%> Routes" target="_blank"><%=dep_city_name.titleize %> to <%= arr_city_name.titleize %> routes</a></li>
            <% elsif dep_country_code!="IN" && arr_country_code=="IN"%>
            <li><a href="/tourism/routes/id/<%= dep_city_name_formated.downcase%>-to-<%= arr_city_name_formated.downcase%>-route.html" title="<%=dep_city_name.titleize%> To <%=arr_city_name.titleize%> Routes" target="_blank"><%=dep_city_name.titleize %> to <%= arr_city_name.titleize %> routes</a></li>
            <% else %>
            <li><a href="/tourism/routes/ii/<%= dep_city_name_formated.downcase%>-to-<%= arr_city_name_formated.downcase%>-route.html" title="<%=dep_city_name.titleize%> To <%=arr_city_name.titleize%> Routes" target="_blank"><%=dep_city_name.titleize %> to <%= arr_city_name.titleize %> routes</a></li>
            <!-- <li><a href="/flight-schedule/flight-schedules-domestic.html" target="_blank"><%= dep_city_name.titleize%> to <%= arr_city_name.titleize %> via Flights</a></li>   -->
            <% end %>
          </ul>
        </li>
        <% end %>
        <li>
          <a class="dropdown-toggle" type="button" data-toggle="dropdown">Flights <span class="caret"></span></a>
          <ul class="list-unstyled dropdown-menu">
            <li><a href="<%= @host_name %>/flight-schedule/flights-from-<%= dep_city_name_formated%>.html" title="Flights from <%=dep_city_name.titleize %>" target="_blank">List of Flights from <%= dep_city_name.titleize%> </a></li>
            <li><a href="<%= @host_name %>/flight-schedule/flights-to-<%= arr_city_name_formated %>.html" title="Flights to <%= arr_city_name.titleize %>" target="_blank">List of Flights to <%= arr_city_name.titleize%></a></li>
          </ul>
        </li>
        <% if route_dom_airlines.present? %>
        <li>
          <a class="dropdown-toggle" type="button" data-toggle="dropdown"><%#= dep_city_name.titleize%>  <%#= arr_city_name.titleize %> Domestic airlines <span class="caret"></span></a>
          <ul class="list-unstyled dropdown-menu">
            <% route_dom_airlines[0..10].each do |cc| %>
            <%
            airline_name = I18n.t("airlines.#{cc}")
            link = "#{@host_name}/flight-booking/#{url_escape("#{airline_name.gsub(' ','-').downcase}-#{dep_city_name.gsub(' ','-').downcase}-#{arr_city_name.gsub(' ','-').downcase}-flights")}.html" %>
            <li><%= t('brand_flights_routes_html', dep_city_name: dep_city_name, airline_name: airline_name, arr_city_name: arr_city_name, link: link,title: "#{airline_name} #{dep_city_name} #{arr_city_name} flights",target: "_blank") %></li>
            <% end %>
          </ul>
        </li>
        <% end %>
        <% if route_int_airlines.present? %>
        <li>
          <a class="dropdown-toggle" type="button" data-toggle="dropdown"><%#= dep_city_name.titleize%>  <%#= arr_city_name.titleize %> International Airlines <span class="caret"></span></a>
          <ul class="list-unstyled dropdown-menu">
            <% route_int_airlines[0..10].each do |cc| %>
            <%
            airline_name = I18n.t("airlines.#{cc}")
            link = "#{@host_name}/flight-booking/#{url_escape("#{airline_name.gsub(' ','-').downcase}-#{dep_city_name.gsub(' ','-').downcase}-#{arr_city_name.gsub(' ','-').downcase}-flights")}.html" %>
            <li><%= t('brand_flights_routes_html', dep_city_name: dep_city_name, airline_name: airline_name, arr_city_name: arr_city_name, link: link,title: "#{airline_name} #{dep_city_name} #{arr_city_name} flights",target: "_blank") %></li>
            <% end %>
          </ul>
        </li>
        <% end %>
        <li>
          <a class="dropdown-toggle" type="button" data-toggle="dropdown">Airport and hotels <span class="caret"></span></a>
          <ul class="list-unstyled dropdown-menu">
            <li><a href="<%= @host_name%>/tourism/airports/<%= dep_city_name_formated%>-airport.html" title="<%= dep_city_name.titleize%> Airport" target="_blank"><%= dep_city_name.titleize%> Airport</a></li>
            <li><a href="<%= @host_name%>/tourism/airports/<%= arr_city_name_formated %>-airport.html"  title="<%= arr_city_name.titleize%> Airport" target="_blank"><%= arr_city_name.titleize%> Airport</a></li>
            <% unless near_by_airport_hotels.present? && near_by_airport_hotels!="" %>
            <% if hotels_header_list.present? && hotels_header_list!="" %>
            <li><span class="high-light-txt"><b>Hotels near <%= arr_city_name %> Aiport</b></span>
              <% hotels_header_list[0..5].each do |hotel| %>
              <li>
                <%= link_to(hotel["hotel_name"],"#{@host_name}#{hotel['hotel_link']}",title: "#{hotel["hotel_name"]}",target: "_blank")%>
              </li>
              <% end %>
            </li>
            <% end %>
            <% else %>
            <li><span class="high-light-txt"><b>Hotels near <%= arr_city_name %> Aiport</b></span>
              <% near_by_airport_hotels[0..10].each do |hotel| %>
              <li>
                <%= link_to(hotel["hotel_name"],"#{@host_name}#{hotel['hotel_link']}",title: "#{hotel["hotel_name"]}",target: "_blank")%>
              </li>
              <% end %>
            </li>
            <% end %>
          </ul>
        </li>
        <% if hotel_types.present? && hotel_types!=""%>
        <li>
          <a class="dropdown-toggle" type="button" data-toggle="dropdown">Types of <%= arr_city_name.titleize %> hotels <span class="caret"></span></a>
          <ul class="list-unstyled dropdown-menu">
            <% hotel_types.each do |hotel| %>
            <li><%= link_to("#{hotel["name"].titleize}","#{@host_name}#{hotel["link"]}",title: " #{hotel["name"].titleize} in #{arr_city_name.titleize}",target: "_blank")%></li>
            <% end %>
            <% hotel_link = hotel_types.first["link"].split('/').first(4).join('/')+'/'%>
            <% if hotel_link.present? %>
            <li>
              <%= link_to("#{arr_city_name.titleize} Hotels","#{@host_name}#{hotel_link}",title: "#{arr_city_name.titleize} Hotels",target: "_blank")%>
            </li>
            <% end %>
          </ul>
        </li>
        <% end %>
        
        <% if dep_country_code== country_code && arr_country_code== country_code %>
        
        <% if train_details.present? %>
        <% if (train_details["origin_from"].present? || train_details["passing_from"].present?)  %>
        <li>
          <a class="dropdown-toggle" type="button" data-toggle="dropdown">Trains <span class="caret"></span></a>

          <ul class="list-unstyled dropdown-menu">
            <% if section=="IN-dom" %>
            <li><%= link_to("#{dep_city_name} to #{arr_city_name} Trains","/tourism/train/routes/#{dep_city_name_formated}-to-#{arr_city_name_formated}-trains.html",title: "#{dep_city_name} to #{arr_city_name} Trains",target: "_blank")%></li>
            <% if dep_country_code=="IN" && train_details["train_stations"]["dep_stations"].present? %>
            <li><%= link_to("#{dep_city_name} railway station","#{train_details["train_stations"]["dep_stations"].first[:link]}",title: "#{dep_city_name} railway station",target: "_blank")%></li>
            <% end %>
            <% end %>
            <% if arr_country_code=="IN" && train_details["train_stations"]["arr_stations"].present? %>
            <li><%= link_to("#{arr_city_name} railway station","#{train_details["train_stations"]["arr_stations"].first[:link]}",title: "#{arr_city_name} railway station",target: "_blank")%></li>
            <% end %>
            <% if train_details["origin_from"].present? && arr_country_code=="IN" %>
            <li><span class="high-light-txt"><b>Trains originating from <%= arr_city_name.titleize%> </b> </span>
              <% train_details["origin_from"].each do |train|%>
              <li><%= link_to("#{train["name"]}","#{train["link"]}",title: "#{train["name"]}",target: "_blank")%></li>
              <% end %>
            </li>
            <% end %>
            <% if train_details["passing_from"].present? && arr_country_code=="IN" %>
            <li><span class="high-light-txt"><b>Trains passing from <%= arr_city_name.titleize%> </b>></span>
              <% train_details["passing_from"].each do |train|%>
              <li><%= link_to("#{train["name"]}","#{train["link"]}",title: "#{train["name"]}",target: "_blank")%></li>
              <% end %>
            </li>
            <% end %>
          </ul>
        </li>
        <%end%>
        <% end %>
        <% end %>
        <% if country_code==="IN" %>
        <li>
          <a class="dropdown-toggle" type="button" data-toggle="dropdown">Offers <span class="caret"></span></a>
          <ul class="list-unstyled dropdown-menu">
            <li><a href="/offers/india/payless" target="_blank" title="Domestic flight offers">Domestic flight offers</a></li>
            <li><a href="/offers/india/anywhere" target="_blank" title="International flight offers">International flight offers</a></li>
            <li><a href="/offers/india/awesome-long-weekends-2017" title="Long weekend offers" target="_blank">Long weekend offers</a></li>
            <li><a href="/offers/india/hdfc-weekends" title="HDFC weekend offers" target="_blank">HDFC weekend offers</a></li>
            <li><a href="/offers/india/hsbc-offers" title="HSBC offers" target="_blank">HSBC offers</a></li>
            <li><a href="/offers/india/yes-bank" target="_blank" title="Yes bank offers ">Yes bank offers </a></li>
            <li><a href="/offers/india/axisbank" target="_blank" title="AXIS bank offers">AXIS bank offers</a></li>
            <li><a href="/offers/india/amex-tuesday" title="American express offers" target="_blank">American express offers</a></li>
          </ul>
        </li>
        <% end %>
      </ul>
    </div>
  </section>
