			<% if schedule_layout_values["top_min_flights_30"].present? || schedule_layout_values["top_min_flights_90"].present? || schedule_layout_values["top_min_flights_today"].present? || schedule_layout_values["top_min_flights_15"].present?   %>
			<% currency_given = currency %>
			<% currency_given = "₹" if currency == "Rs." %>

			<div >
			<div class="minfare-table min-fare-desk">

				<% min_price_obj = schedule_layout_values["top_min_flights_15"].first rescue {} %>
        <% if !min_price_obj.nil? && min_price_obj["dd"].present?  && (Date.parse(min_price_obj["dd"]) > Date.today) && min_price_obj["pr"].to_i > 0 %>
        <h2 class="sub-titles">
          <%= "Cheapest Flight Ticket from #{dep_city_name} to #{arr_city_name} is on #{min_price_obj["dd"].to_date.strftime("%d %b %Y")} - "%>
          <a href="" data-date= '<%= "#{min_price_obj['dd'].to_date.strftime('%d/%m/%Y')}" %>' class="booking-btn cheapFlightBtn"><%= "₹ #{min_price_obj['pr'].to_i rescue ''}" %></a>
        </h2>
        <% end %>
				<table width="100%">
					<thead>
						<% if schedule_layout_values["top_min_flights_today"].present? && schedule_layout_values["top_min_flights_today"].first["pr"].to_f > 0 %><th>Today's Cheapest</th><% end %>
						<% if schedule_layout_values["top_min_flights_15"].present? &&  schedule_layout_values["top_min_flights_15"].first["pr"].to_f > 0 %><th>15 day's Cheapest</th><% end %>
						<% if schedule_layout_values["top_min_flights_30"].present?   &&  schedule_layout_values["top_min_flights_30"].first["pr"].to_f > 0  %><th>30 day's Cheapest</th><% end %>
						<% if schedule_layout_values["top_min_flights_90"].present?  &&  schedule_layout_values["top_min_flights_90"].first["pr"].to_f > 0 %><th>90 day's Cheapest</th><% end %>
					</thead>
					<tr>
						<% if schedule_layout_values["top_min_flights_today"].present? && schedule_layout_values["top_min_flights_today"].first["pr"].to_f > 0 %>
						<td>
							<ul class="list-unstyled">
								<% schedule_layout_values["top_min_flights_today"].each do|min_today| %>
								<% unless min_today["pr"].to_i == 0 %>
								<% if min_today["ad"].to_date == Date.today %>
								<% temp_date = min_today["ad"] %>
								<% elsif min_today["ad"].to_date >= Date.today %>
								<% temp_date = (Time.now).strftime('%d/%m/%Y') %>
								<% else %>
								<% temp_date = (Time.now+2.days).strftime('%d/%m/%Y') %>
								<% end %>
								<li>
									<h4>
										<span class="air-details">
											<span class="air-name-truncate"><%= min_today["aln"] %></span>
<!-- 											<span class="air-price"><%#= "#{currency_given}#{min_today["pr"].to_i}" %></span>
 -->										</span></h4> 
										<a href="<%= "/flights/results?from=#{schedule_layout_values["dep_airport_code"]}&to=#{schedule_layout_values["arr_airport_code"]}&depart_date=#{temp_date}&adults=1&childs=0&infants=0&page=loaded&airline=#{min_today["al"]}" %>" class="book-btn"><%= "#{currency_given} #{min_today["pr"].to_i}" %></a>
										<div class="clearfix"></div>
									</li>
									<% end %>
									<% end %>
								</ul>
							</td>
							<% end %>


							<% if schedule_layout_values["top_min_flights_15"].present? && schedule_layout_values["top_min_flights_15"].first["pr"].to_f > 0 %>
							<td>
								<ul class="list-unstyled">
									<% schedule_layout_values["top_min_flights_15"].each do|min_15| %>
									<% unless min_15["pr"].to_i == 0 %>
									<% if min_15["dd"].to_date >= Date.today %>
									<% temp_date = min_15["dd"] %>
									<% else %>
									<% temp_date = (Time.now+2.days).strftime('%d/%m/%Y') %>
									<% end %>
									<li>
										<h4>
											<span class="air-details">
												<span class="air-name-truncate"><%= min_15["aln"] %></span>
												<!-- <span class="air-price"><%#= "#{currency_given}#{min_15["pr"].to_i}" %></span> -->
											</span></h4> 
											<a href="<%= "/flights/results?from=#{schedule_layout_values["dep_airport_code"]}&to=#{schedule_layout_values["arr_airport_code"]}&depart_date=#{temp_date}&adults=1&childs=0&infants=0&page=loaded&airline=#{min_15["al"]}" %>" class="book-btn"><%= "#{currency_given} #{min_15["pr"].to_i}" %></a>
											<div class="clearfix"></div>
										</li>

										<% end %>
										<% end %>
									</ul>
								</td>
								<% end %>

								<% if schedule_layout_values["top_min_flights_30"].present? && schedule_layout_values["top_min_flights_30"].first["pr"].to_f > 0 %>
								<td>
									<ul class="list-unstyled">
										<% schedule_layout_values["top_min_flights_30"].each do|min_30| %>
										<% unless min_30["pr"].to_i == 0 %>
										<% if min_30["dd"].to_date >= Date.today %>
										<% temp_date = min_30["dd"] %>
										<% else %>
										<% temp_date = (Time.now+2.days).strftime('%d/%m/%Y') %>
										<% end %>
										<li>
											<h4>
												<span class="air-details">
													<span class="air-name-truncate"><%= min_30["aln"] %></span>
													<!-- <span class="air-price"><%#= "#{currency_given}#{min_30["pr"].to_i}" %></span> -->
												</span></h4> 
												<a href="<%= "/flights/results?from=#{schedule_layout_values["dep_airport_code"]}&to=#{schedule_layout_values["arr_airport_code"]}&depart_date=#{temp_date}&adults=1&childs=0&infants=0&page=loaded&airline=#{min_30["al"]}" %>" class="book-btn"><%= "#{currency_given} #{min_30["pr"].to_i}" %></a>
												<div class="clearfix"></div>
											</li>
											<% end %>
											<% end %>
										</ul>
									</td>
									<% end %>

									<% if schedule_layout_values["top_min_flights_90"].present? && schedule_layout_values["top_min_flights_90"].first["pr"].to_f > 0 %>
									<td>
										<ul class="list-unstyled">
											<% schedule_layout_values["top_min_flights_90"].each do|min_90| %>
											<% unless min_90["pr"].to_i == 0 %>
											<% if min_90["dd"].to_date >= Date.today %>
											<% temp_date = min_90["dd"] %>
											<% else %>
											<% temp_date = (Time.now+2.days).strftime('%d/%m/%Y') %>
											<% end %>
											<li>
												<h4>
													<span class="air-details">
														<span class="air-name-truncate"><%= min_90["aln"] %></span>
														<!-- <span class="air-price"><%#= "#{currency_given}#{min_90["pr"].to_i}" %></span> -->
													</span></h4> 
													<a href="<%= "/flights/results?from=#{schedule_layout_values["dep_airport_code"]}&to=#{schedule_layout_values["arr_airport_code"]}&depart_date=#{temp_date}&adults=1&childs=0&infants=0&page=loaded&airline=#{min_90["al"]}" %>" class="book-btn"><%= "#{currency_given} #{min_90["pr"].to_i}" %></a>
													<div class="clearfix"></div>
												</li>
												<% end %>
												<% end %>
											</ul>
										</td>
										<% end %>



									</tr>
								</table>
							</div>
						</div>

							<% end %>