<div class="clearfix"></div>
<h3 class="sub-title">Flights for  <%= dep_city_name %> ⇄ <%= arr_city_name %> on <span class="result_date"></span></h3>
<div id="new-responses-mobile"></div>
<div id="after-remove-mobile">
<div class="mobile-sorting ow-sorting">
  <ul class="list-inline">
    <li class="f-airline"></li>
    <li class="fd-timing" data-row="dep_time">
      <a href="javascript:void(0)">Time</a>
      <li class="f-duration" data-row="duration">
        <a href="javascript:void(0)">Duration</a>
      </li>
      <li class="f-price" data-row="route_total_fare">
        <a href="javascript:void(0)">Price</a>
      </li>
    </ul>
  </div>
  <div id="owd-mobile-flights">
      <% routes.each do |route|
        route.stringify_keys!
        route_type = route["dep_country_code"] != country_code || route["arr_country_code"] != country_code ? "int" : "dom"
        %>
        <% airline_name = route["carrier_code"] == "AI" ? "Air India" :  t("airlines.#{route["carrier_code"]}")
        link = format_overview_link(airline_name)
        %>
        <% if !airline_name.include?("translation missing")%>
        <% formated_carrier_name = route["carrier_code"] == "AI" ? "air-india" :  t("airlines.#{route["carrier_code"]}").downcase.gsub(" ",'-').gsub('--','-') %>
        <div class="owd-mflights-list">
          <ul class="list-inline">
            <li class="owd-marilines">
              <a href="">
                <span class=" carrier-logo <%= formated_carrier_name%>"></span>
                <span class="owd-airline-names"><%= route["carrier_code"] %> <small><%= route["flight_no"]%></small></span>
              </a>
            </li>
            <% dep_time = route["dep_time"].gsub(":00","").gsub(":00:00","").length == 2 ? route["dep_time"].gsub(":00:00",":00")  : route["dep_time"].gsub(":00","").gsub(":00:00","") %>
            <% arr_time = route["arr_time"].gsub(":00","").gsub(":00:00","").length == 2 ? route["arr_time"].gsub(":00:00",":00") : route["arr_time"].gsub(":00","").gsub(":00:00","")%>
            <li class="owd-mduration">
              <span class="owd-mtiming"><%= dep_time %> - <%= arr_time %></span>
              <span class="own-mstop">Non Stop | <%= format_duration(route["duration"]) %></span>
            </li>
            <li class="owd-mprice">
              <% if !@is_bot_hit %>
              <div class="loaders">
                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
              </div>
              <div class="initial-price" style="display: none;">
                <%= (route["cc_min_price"].present? && route["cc_min_price"].to_i > 0 ) ?  "#{currency_code} " +  route["cc_min_price"].to_s : "--NA--"%>
              </div>
              <% else %>
              <%= (route["cc_min_price"].present? && route["cc_min_price"].to_i > 0 ) ?  "#{currency_code} " +  route["cc_min_price"].to_s : "--NA--" %>
              <% end %>
            </li>
          </ul>
        </div>
        <% end %>
        <% end %>
    </div>
  </div>

  