
<%

 top_routes = sa_header_routes[:header_routes].present? && @country_code == "SA" ? sa_header_routes[:header_routes]  :  [] %>
 <% if top_routes.present? && !top_routes.nil? %>
	 <div class="white-card">
		<h2><%= t("brand.most_popular_routes") %></h2>
		<ul class="list-unstyled flight-routes">
		<% top_routes.uniq.last(6).each do |route| %>
				
				<% if route["dep_city_name_en"] != "" && route["arr_city_name_en"] != "" %>
				<li>
					<% if @country_code == "SA" || @country_code == "AE" %>
					<% link = link_to( "#{route['dep_city_name_en']} to #{route['arr_city_name_en']} Flights", "/flight-schedule/" + "#{route['url']}" + "-flights.html",title: "#{route['dep_city_name_en']} #{route['arr_city_name_en']} Flights")  %>
					<% else %>
					<% link = link_to( "#{route['dep_city_name_en']} to #{route['arr_city_name_en']} Flights", "/flight-schedule/" + "#{route['url']}" + "-flights.html")  %>
					<% end %>
					<% if @carrier_code != "SV" %>
						<%= link %>
					<% else %>
						<h3><%= link %></h3>
					<% end %>
					<div class="clearfix"></div>
				</li>
				<% end %>
			<% end %>
			</ul>
	</div><!--/white-card-->
 <% else %>
 
 	<% if routes.present? && !routes.nil? %>
		<div class="white-card">
			<h2><%= t("brand.most_popular_routes") %></h2>
			<ul class="list-unstyled flight-routes">
			<% routes.uniq.last(10).each do |route| %>
					<li>
						<% if @country_code == "SA" || @country_code == "AE" %>
						<% link = link_to( "#{route[:dep_city_name]} to #{route[:arr_city_name]} Flights", "/flight-schedule/" + "#{route[:dep_city_name].downcase.gsub("  ","-").gsub(" ","-")}-#{route[:arr_city_name].downcase.gsub("  ","-").gsub(" ","-")}" + "-flights.html", title: "#{route[:dep_city_name]} #{route[:arr_city_name]} Flights")  %>
						<% else %>
						<% link = link_to( "#{route[:dep_city_name]} to #{route[:arr_city_name]} Flights", "/flight-schedule/" + "#{route[:dep_city_name].downcase.gsub("  ","-").gsub(" ","-")}-#{route[:arr_city_name].downcase.gsub("  ","-").gsub(" ","-")}" + "-flights.html")  %>
						<% end %>
						<%= link %>
						<div class="clearfix"></div>
					</li>
				<% end %>
				</ul>
		</div><!--/white-card-->
		<% end %>
 <% end %>

