<% unless @volume_count < 1000 %>
      <% if @faq.present? %>
      <script type="application/ld+json">

        {"@context": "https://schema.org","@type": "FAQPage","mainEntity": [
        <% @faq.each_with_index do|faq,ind| %>
        {"@type": "Question","name": "<%= faq[:question] %>","acceptedAnswer": {"@type": "Answer","text": "<%= faq[:answer]%></p>"}}<% unless faq==@faq.last%>,<% end %><% end %>
        ]}
      </script>
      <% else %>
      <script type="application/ld+json">
        {"@context": "https://schema.org","@type": "FAQPage","mainEntity": [
        <%  if schedule_layout_values["min90"].present? && schedule_layout_values["min90"]["aln"].present? %>
        {"@type": "Question","name": "<%= t('flight_schedule.faq_new_changes_ques1',  dep_city_name: dep_city_name, arr_city_name: arr_city_name ,airline_name: schedule_layout_values["min90"]["aln"]) %>"
        ,"acceptedAnswer": {"@type": "Answer","text":
        "<%= t('flight_schedule.faq_new_changes_ans1', dep_city_name: dep_city_name, arr_city_name: arr_city_name, airline_name: schedule_layout_values["min90"]["aln"]) %></p>"}}, 
        <% end %>
        {"@type": "Question","name": "<%= t('flight_schedule.faq_new_changes_ques2',  dep_city_name: dep_city_name, arr_city_name: arr_city_name) %>",  
        "acceptedAnswer": {"@type": "Answer","text":   
        "<%= t('flight_schedule.faq_new_changes_ans2', dep_city_name: dep_city_name, arr_city_name: arr_city_name, schedule_values: schedule_layout_values) %>
      </p>"}},
      {"@type": "Question","name": "<%= t('flight_schedule.faq_new_changes_ques3',  dep_city_name: dep_city_name, arr_city_name: arr_city_name) %>",
      "acceptedAnswer": {"@type": "Answer","text":  
      "<%= t('flight_schedule.faq_new_changes_ans3', dep_city_name: dep_city_name, arr_city_name: arr_city_name, schedule_values: schedule_layout_values) %>"}},
      {"@type": "Question","name": "
      <%= t('flight_schedule.faq_new_changes_ques4',  dep_city_name: dep_city_name, arr_city_name: arr_city_name) %>",
      "acceptedAnswer": {"@type": "Answer","text":  
      "<%= t('flight_schedule.faq_new_changes_ans4', dep_city_name: dep_city_name, arr_city_name: arr_city_name, schedule_values: schedule_layout_values) %>
    </p>"}},    
    <% if schedule_layout_values["min_price"].present?  &&  schedule_layout_values["min_price"].to_i > 0 %>
    {"@type": "Question","name": "
    <%= t('flight_schedule.faq_new_changes_ques6',  dep_city_name: dep_city_name, arr_city_name: arr_city_name) %>",
    "acceptedAnswer": {"@type": "Answer","text":  
    "<%= t('flight_schedule.faq_new_changes_ans6', dep_city_name: dep_city_name, arr_city_name: arr_city_name, other_airlines: schedule_layout_values["operational_airlines"] , min_price: schedule_layout_values["min_price"],max_price: schedule_layout_values["max_price"],currency_code: currency ) %>
  </p>"}},
  <% end %>
  {"@type": "Question","name": "
  <%= t('flight_schedule.faq_new_changes_ques7',  dep_city_name: dep_city_name, arr_city_name: arr_city_name) %>",
  "acceptedAnswer": {"@type": "Answer","text":  
  "<%= t('flight_schedule.faq_new_changes_ans7', dep_city_name: dep_city_name, arr_city_name: arr_city_name, schedule_values: schedule_layout_values) %>
</p>"}},
{"@type": "Question","name": "
<%= t('flight_schedule.faq_new_changes_ques8',  dep_city_name: dep_city_name, arr_city_name: arr_city_name) %>",
"acceptedAnswer": {"@type": "Answer","text":  
"<%= t('flight_schedule.faq_new_changes_ans8', dep_city_name: dep_city_name, arr_city_name: arr_city_name, schedule_values: schedule_layout_values) %>
</p>"}},
{"@type": "Question","name": "
<%= t('flight_schedule.faq_new_changes_ques9',  dep_city_name: dep_city_name, arr_city_name: arr_city_name) %>",
"acceptedAnswer": {"@type": "Answer","text":  
"<%= t('flight_schedule.faq_new_changes_ans9', dep_city_name: dep_city_name, arr_city_name: arr_city_name, schedule_values: schedule_layout_values) %></p>"}}
]}
</script>
<% end %>
<% end %>