<%if section.include? "int" %>
  <h2>Popular International Flights</h2>
<% else %>
  <h2>Popular Domestic Flights</h2>
<% end %>
<div class="desktop_top_routes hidden-xs">
  <div class="list-inline airline-wrapper">
    <div class="text-center">
      <div class="col-xs-2"><a href="">Airline</a></div>
      <div class="col-xs-2"><a href="">Routes</a></div>
      <div class="col-xs-2"><a href="">Departure</a></div>
      <div class="col-xs-2"><a href="">Arrival</a></div>
      <div class="col-xs-2"><a href="">Duration</a></div>
      <div class="col-xs-2"><a href="">&nbsp;</a></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <% consolidated_routes.each do |route | %>
    <div class="airline-wrapper">
      <ul id="airline-lists">
        <li class="list-inline">
          <div class="col-xs-2 no-padding pad-10">
            <span>
              <small><%= route[:carrier_code] %><%= route[:flight_no] %></small>
              <% airline_name = link_to( t("airlines.#{route[:carrier_code]}"), "/flight-booking/" + format_airline_name(I18n.with_locale(:en) { t("airlines.#{route[:carrier_code]}") }).downcase.gsub(" ", "-").gsub("--","-") + ".html") %>
              <%= airline_name %>
            </span>
          </div>
          <div class="col-xs-2 no-padding pad-10">
            <span><%= route[:dep_city_code]%>  →  <%= route[:arr_city_code]%></span>
            <small><%= route[:dep_city_name].try(:humanize)%> to <%= route[:arr_city_name].try(:humanize)%></small>
          </div>
          <div class="col-xs-2 no-padding pad-10">
            <span><%= Time.strptime(route[:dep_time],"%H:%M").to_time.strftime("%I:%M %p") %></span>
          </div>
          <div class="col-xs-2 no-padding pad-10">
            <span><%= Time.strptime(route[:arr_time],"%H:%M").to_time.strftime("%I:%M %p") %></span>
          </div>
          <div class="col-xs-2 no-padding pad-10">
            <% if route[:duration].include? (":")%>
              <span> <%= route[:duration].to_time.strftime("%Hh %Mm") %></span>
            <% else %>
              <span> <%= Time.at(route[:duration].to_i*60).utc.strftime("%Hh %Mm") %></span>
            <% end %>
            <small>non-stop</small>
          </div>
          <div class="col-xs-2 no-padding pad-10 book-section">
            <a class="booking-btn flight-schedule-booking" data-route="<%=route[:dep_city_code]%>-<%= route[:arr_city_code]%>">Book Now</a>
          </div>
          <div class="clearfix"></div>
          <!--/airline-->
        </li>
      </ul>
    </div>
  <% end %>
</div>
<!--mobile-view-->
<div class="mobile_top_routes visible-xs">
  <div class="list-inline airline-wrapper">
    <div class="text-center">
      <div class="col-xs-2 no-padding"><a class="sortAsc" href="">Airline</a></div>
      <div class="col-xs-4 no-padding text-center "><a href="">Routes</a></div>
      <div class="col-xs-3 no-padding text-center "><a href="">Duration</a></div>
      <!-- <div class="col-xs-3 no-padding text-center "><a href="">Min Price</a></div> -->
      <div class="col-xs-3 text-center no-padding">
        <a href="">&nbsp;</a></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <% consolidated_routes.each do |route | %>
    <div class="airline-wrapper">
      <ul id="airline-lists">
        <li class="list-inline">
          <div class="col-xs-2 no-padding pad-10">
            <span>
              <small><%= route[:carrier_code] %><%= route[:flight_no] %></small>
              <% airline_name = link_to( t("airlines.#{route[:carrier_code]}"), "/flight-booking/" + format_airline_name(I18n.with_locale(:en) { t("airlines.#{route[:carrier_code]}") }).downcase.gsub(" ", "-").gsub("--","-") + ".html") %>
              <%= airline_name %>
            </span>
          </div>
          <div class="col-xs-4 no-padding pad-10">
            <span><%= route[:dep_city_code]%>  →  <%= route[:arr_city_code]%></span>
            <span class="type"><small><%= route[:dep_city_name].try(:humanize)%> to <%= route[:arr_city_name].try(:humanize)%></small></span>
          </div>
          <div class="col-xs-3 no-padding pad-10">
            <% if route[:duration].include? (":")%>
              <span> <%= route[:duration].to_time.strftime("%Hh %Mm") %></span>
            <% else %>
              <span> <%= Time.at(route[:duration].to_i*60).utc.strftime("%Hh %Mm") %></span>
            <% end %>
            <span class="type"><small>non-stop</small></span>
          </div>
          <div class="col-xs-3 no-padding pad-10 book-section">
            <a class="booking-btn flight-schedule-booking" data-route="<%=route[:dep_city_code]%>-<%= route[:arr_city_code]%>">Book Now</a>
          </div>
          <div class="clearfix"></div>
          <!--/airline-->
        </li>
      </ul>
    </div>
  <% end %>
</div>
<!--mobile-view-->
