<div class="top-routes">
	
	<ul class="linklist list-inline">
		<% top_routes.each do |route|%>
		
		<li><a href="/flight-tickets/<%= route.schedule_route_url%>-cheap-airtickets.html" title="<%= route.dep_city_name_ar %> <%= route.arr_city_name_ar %> <%= t("flight_schedule.flights")%>"><%= route.dep_city_name_ar %> <%= route.arr_city_name_ar %> <%= t("flight_schedule.flights")%></a></li>
		<% end %>
	</ul>
</div>
