<% use_helper = self.extend ApplicationHelper %>
<% header_country_list = ["IN","SA","AE"] %>
  <section id="flights-nav">
    <div class="container-fluid">
      <div class="ctCol ctProducts mview-header">
        <a class="ctBrand" href="/">
          <span class="cleartripLogo" title="Homepage">Home</span>
        </a>
        <ul class="productLinks hasProductIcons">
          <li class="flightApp">
            <a rel="bToolTip" Flights href="/flights">
              <span class="productIcon flights">Flights</span>
            </a>
          </li>
          <li class="hotelApp">
            <a rel="bToolTip" Hotels href="/hotels">
              <span class="productIcon hotels">Hotels</span>
            </a>
          </li>

        </ul>
        <div class="Menuicon visible-xs pull-right"> <span></span> <span></span> <span></span></div>
      </div>
      <div class="ctCol ctCenter mview-center">&nbsp;</div>
      <div class="ctCol">
        <ul class="list-inline language">
          <li class="en first active">
            <a href="/ar/flight-booking/<%= flight_file_name %>" lang="hi">عربى</a>
          </li>
          <li>|</li>
          <li>
            <a href="/flight-booking/<%= flight_file_name %>" lang="en">English</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
  </section>
  <!--/Header Ends Here-->
  <!-- /Second Header starts here -->
  <%= render partial: "bookings/shared/en/booking_header",locals: {popular_routes: header_routes,airports: header_airports,carrier_name_en: @carrier_name,use_helper: use_helper, application_processor: application_processor,customer_support: customer_support,baggages: baggages,brand_type: ""} %>
  <!-- /Second Header ends  here -->
  <div class="clearfix"></div>
  <!--/content Starts Here-->
  <section id="content">
    <div class="container-fluid">
      <ul class="list-inline bread-crumb">
        <li itemscope itemtype="https://data-vocabulary.org/Breadcrumb" class="first">
          <a href="/flights" title="<%= t('breadcrumb.flights') %>" itemprop="url"><span itemprop="title"><%= t('breadcrumb.flights') %></span></a>
        </li>
        <li itemscope itemtype="https://data-vocabulary.org/Breadcrumb">
          <a href="/flight-booking/international-airlines.html" title="<%= t('breadcrumb.international_airlines') %>" itemprop="url">
            <span itemprop="title"><%= t('breadcrumb.international_airlines')%></span>
          </a>
        </li>
        <li itemscope itemtype="https://data-vocabulary.org/Breadcrumb">
          <a>
            <span itemprop="title"><%= format_airline_name(@carrier_name, I18n.locale) %></span>
          </a>
        </li>
      </ul>
      <h1 class="col-lg-6 no-padding"><%= format_airline_name(@carrier_name, I18n.locale) %> </h1>

      <div class="clearfix"></div>
      <%= render "common/search_widget" %>
      <div class="col-lg-9 col-md-9 col-sm-12 mobile-view pad-lzero" id="flight-schedule">
        <div class="list-box">
          <% if pagination[:current_page_no] == 0 %>
            <div id="banner" class="lhs-banner"></div>
            <%= render :partial=>"new_designs/bookings/airline_routes/airline_route_schedule_table_en",:locals=>{:routes=>airline_route_schedules,dep_city_name: @dep_city_name,arr_city_name: @arr_city_name, :use_helper=>use_helper, :assets_path=>@assets_path, :country_code=> @country_code, :section=> 'int',currency_code: currency_code(@country_code)} %><!--mobile-view-->

            <div class="content-desc">
              <%= render partial: "new_designs/bookings/airline_routes/airline_routes_templatized_content_en",locals: { airline_name: @carrier_name,min_rate: airline_route_schedules.first[:cc_route_min_price],max_rate: airline_route_schedules.first[:cc_route_max_price],total_flights: airline_route_schedules.count,first_flight_dep_time: airline_route_schedules.first[:dep_time],last_flight_dep_time: airline_route_schedules.last[:dep_time] } %>
            </div>
            <div class="clearfix"></div>
          <% end %>
            <div class="top-routes">
              <h2><%= t('brand.top_route' , airline_name: @carrier_name) %></h2>
              <%= render :partial=>"new_designs/bookings/airline_routes/airline_pagination_routes", locals: { top_routes: pagination[:routes] }  %>
                <% if pagination[:total_pages]  > 1 %>
                  <div class="text-center linklist-btn">
                    <% if pagination[:current_page_no] == 0 %>
                      <a class="no-link" ><%= t('prev') %></a> | <a rel="next" href='<%= "/flight-booking/#{pagination[:next_url]}" %>' title="Next" ><%= t('next') %></a>
                    <% elsif pagination[:current_page_no] >= pagination[:total_pages] %>
                      <a rel="prev" href='<%= "/flight-booking/#{pagination[:prev_url]}" %>' title="Previous" ><%= t('prev') %></a> | <a class="no-link" ><%= t('next') %></a>
                    <% else %>
                      <a rel="prev" href='<%= "/flight-booking/#{pagination[:prev_url]}" %>' title="Previous"><%= t('prev') %></a> | <a rel="next" href='<%= "/flight-booking/#{pagination[:next_url]}" %>' title="Next"><%= t('next') %></a>
                    <% end%>
                  </div>
                <% end %>
            </div>
        </div><!--list-box-->
      </div>
      <div id="Rside-bar">
        <div class="col-lg-3 col-md-3 col-sm-12 pad-rzero side-bar">
          <div class="blocks banner-section">
            <div id="banner">
              <a target="_blank"><img></a>
            </div>
          </div>
          <%= render :partial=>"bookings/shared/en/rhs_top_airlines",:locals=>{:top_airlines=>rhs_airlines[:int_airlines], use_helper: use_helper,:assets_path=>@assets_path, application_processor: application_processor,section: "int"} %>
           <% if rhs_schedule_routes[:dom_routes].present?  %>
            <%= render :partial=>"bookings/shared/en/rhs_top_routes",:locals=>{:routes=>rhs_schedule_routes[:int_routes], page_type: 'flight-booking', application_processor: application_processor, :carrier_code=> @carrier_code, :section=>"int" } %>
          <% end %>
          <%= render :partial=>"bookings/shared/en/rhs_top_airports",:locals=>{:top_airports=>header_airports["int_airports"], use_helper: use_helper, application_processor: application_processor } %>
          <div class="blocks banner-section">
            <%= render :partial=>"common/banner",:locals=>{:country_code=>@country_code} %>
          </div>
        </div>
      </div><!--/Rside-bar-->
    </div>
    <div class="clearfix"></div>
  </section><!--/contnet-- >
  <!--/contnet Ends Here-->
  <div id="footer_container">
   <div id="footer">
     <% country_code = @country_code %>
     <%= render partial: "footers/#{country_code.downcase}/booking/#{@country_code.downcase}_int_footer_en", locals: {country_code: country_code,top_airlines: booking_footer[:int_airlines],section: @section}%>
   </div>
 </div>
  <div style="display:none">
						<div id="departure_city_code"><%= @dep_city_code%></div>
						<div id="arrival_city_code"><%= @arr_city_code%></div>
	</div>
  <%= render "shared/#{@country_code.downcase}/#{@country_code.downcase}_gac" %>
  <%= render "common/comscore" %>
  <%= render "common/mobile_header_flexislider" %>
  <script type="text/javascript">
  var country_code='<%= @country_code.downcase %>';
  var section_type='<%= @section.include?("dom") ? "domestic" : "international" %>';
  var page_type="flight-booking";
  var language_type='<%= I18n.locale.downcase.to_s %>';
  var carrier_name= '<%= @carrier_name %>' ;
  var carrier_code= '<%= @carrier_code %>';
  var page_sub_type= "routes";
  var sub_section= 'routes';
</script>
